<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script src="/js/add_boxes.js"></script> 


<form method="post" action="name_input">
	<p>To randomly pair individuals into groups, please use the buttons below to add/delete input boxes.</p>
	<p>Only include one name in each input box and click Submit once all fields are filled out. Thank you!</p>
	<div class="add_delete_boxes">
		<button type="button" onclick="addInputBox()">Add Input Box</button>
	    <button type="button" onclick="deleteInputBox()">Delete Input Box</button> 
	</div>	
	<div class="input_boxes">	
		<p id = "demo"></p>
	</div>
	<input type="submit" class="button" value="Submit">
</form>

