<link rel="stylesheets" type="text/css" href="/css/styles.css">

<form method="post" action="pairs">
<hr>
<div class="results">
	<%=result%>
</div>
<div class="return_home">
	<a href="https://paired-names-ns.herokuapp.com" style="color: black;">Return to Main Page</a>
</div>

	
	
</form>