<html>
  <head>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <center>
      <div class="title">Random Pairings</div><br>
      <%= yield %>

      <br>
    </center>
  </body>
</html>